<div class="content">
   <div class="circle bg-dunkles-nachtblau">
      <img class="w3" src="./assets/icons/icons8-lautsprecher-100.png" />
      <img class="w1 micro-custom-pos" src="./assets/icons/icons8-mikrofon-96.png" />
   </div>
   <div class="d-flex align-items-center ml-5 mr-5">   <img class="w2" src="./assets/icons/icons8-lautsprecher-100.png" /></div>
  <div class="circle bg-dunkles-nachtblau">  <img class="w2" src="./assets/icons/icons8-synchronisieren-96.png" /> </div>
  <div class="circle bg-dunkles-nachtblau">  <img class="w2" src="./assets/icons/icons8-normal-screen-50.png" /> </div>
  <div class="circle bg-dunkles-nachtblau">  <img class="w2" src="./assets/icons/icons8-test-absolviert-50.png" /> </div>

</div>
