<div class="d-flex f-column">
    <span class="m-3"> IP-Adresse Display:</span>
    <span class="m-3"> Softwareversion Display:</span>
    <span class="m-3"> Softwareversion FIS-System:</span>
    <span class="m-3"> Status Kommunikation FIS-System:</span>
    <span class="m-3"> Zugnummer:</span>
</div>
<div class="d-flex f-column ml-8" >
    <span class="m-3"> 192.168.101.44 </span>
    <span class="m-3"> DFMIFO00 </span>
    <span class="m-3"> FFISFOOO</span>
    <span class="m-3"> OK </span>
    <span class="m-3"> 34325 </span>
</div>






