<div *ngIf="" class="d-flex align-items-center justify-content-center c-yellow">
   <mat-icon class="custom-icon">warning</mat-icon><span class="bold">2</span>
</div>
<div class="d-flex">
   <!-- Driver´s station A -->
    <div class="arc-left bg-grau d-flex align-items-center justify-content-center c-black">A</div>
    <div *ngIf="" class="arc-left bg-dunkleblau d-flex align-items-center justify-content-center c-grau">A</div>

    <!-- Description / Fahrzeug ausgewaehlt -->
    <div *ngIf="" class="content d-flex align-items-center justify-content-space-between c-grau bg-blau">
      <span>
            <!-- hidden or not -->
            <img class="w1" src="./assets/icons/icons8-lautstärke-des-klingeltons-100.png" />
      </span>
       <span>3918</span>
       <span>
             <!-- hidden or not -->
             <img class="w1" src="./assets/icons/icons8-stumm-250.png" />
       </span>
    </div>

   <!-- Description / Fahrzeug  auswaelbar -->
    <div *ngIf="" class="content d-flex align-items-center justify-content-space-between c-grau bg-dunkles-nachtblau">
        <span>
              <!-- hidden or not -->
              <img class="w1" src="./assets/icons/icons8-lautstärke-des-klingeltons-100.png" />
        </span>
      <span>3918</span>
      <span>
               <!-- hidden or not -->
               <img class="w1" src="./assets/icons/icons8-stumm-250.png" />
         </span>
    </div>

    <!-- Description / Fahrzeug nicht auswaelbar -->
    <div  class="content d-flex align-items-center justify-content-space-between c-grau bg-dunkleblau">
        <span>
              <!-- hidden or not -->
              <img class="w1" src="./assets/icons/icons8-lautstärke-des-klingeltons-100.png" />
        </span>
      <span>3918</span>
      <span>
               <!-- hidden or not -->
               <img class="w1" src="./assets/icons/icons8-stumm-250.png" />
         </span>
    </div>

   <!-- Driver´s station B -->
    <div  class="arc-right bg-dunkleblau d-flex align-items-center justify-content-center c-grau"> B </div>
    <div *ngIf="" class="arc-right bg-grau d-flex align-items-center justify-content-center c-black"> B </div>

</div>
<div class="title c-grau">
  S3 Hannover Hbf
</div>
